Notebooks/Data/1715597823704O-result.csv
Notebooks/Data/inner_members.csv
Notebooks/Data/UBC13.csv
Notebooks/Data/COIN_results.csv
Notebooks/Data/UBC13/needed/UBC13_mag12_needed.csv
Notebooks/Data/UBC13-result.csv
Notebooks/Data/COIN-result.csv
Notebooks/Data/members_kept_2681_OCs.csv
Notebooks/Data/Platais-result.csv
Notebooks/Data/UBC_14-result.csv
Notebooks/Data/UPK_495-result.csv
Notebooks/Data/UPK_533-result.csv
Notebooks/Data/UPK_654-result.csv
Notebooks/Data/UBC14-result.csv
Notebooks/Data/UBC21-result.csv
Notebooks/Data/UPK_495/
Notebooks/Data/UPK_533/
Notebooks/Data/UPK_654/
Notebooks/Data/UBC_14/
Notebooks/Data/UBC_21/
Notebooks/Data/UBC_13/
Notebooks/Data/COIN-Gaia_13/
Notebooks/Data/Platais_10/

Notebooks/Data/FirstUPK654-result.csv
Notebooks/Data/SecondUPK654-result.csv
Notebooks/Data/UPK533-result.csv
Notebooks/Data/UPK654-result.csv
Notebooks/Data/oc_means_dr3.csv
